/*BARRE DE NAVIGUATION GENERAL*/

ul{
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;

}

.image { /*Reglage sur les icons*/
    width: 25px;
    display: flow;
    float: left;
    margin-right: 20px;
    margin-top: -5px;

}

.welcome{  /*Reglage sur le visu bienvenue*/
    position: absolute;
    top: 30px;
    left: 410px;
    height: 500px;
}

ul li:nth-child(1) /*Bonjour*/
{
    background-color: lightgray;
    padding: 20px;
    width: 300px;
    text-decoration: none;
    display: block;
    margin: 30px 0;

}
ul li:nth-child(1):hover /*Bonjour*/
{
    background-color: #dd4747;
}
ul li:nth-child(2) /*Aperçu du compte */
{
    background-color: lightgray;
    text-decoration: none;
    display: block;
    padding: 20px;
    width: 300px;
    margin: 0 0 10px;


}
ul li:nth-child(2):hover /*Aperçu du compte */
{
    background-color: #dd4747;
}



ul li:nth-child(3) /*Mes informations*/
{
    background-color: lightgray;
    list-style-type: none;
    padding: 20px;
    margin: 0;
    width: 300px;

}

ul li:nth-child(3):hover /*Mes informations*/
{
    background-color: #dd4747;
}


ul li:nth-child(4) /*Mes résultats*/
{
    background-color: lightgray;
    list-style-type: none;
    padding: 20px;
    width: 300px;
    margin: 0 0 10px;


}

ul li:nth-child(4):hover /*Mes résultats*/
{
    background-color: #dd4747;
}


ul li:nth-child(5) /*Test*/
{
    background-color: lightgray;
    display: block;
    margin: 0 0 30px;
    padding: 20px;
    width: 300px;


}
ul li:nth-child(5):hover /*Test*/
{
    background-color: #dd4747;
}
ul li:nth-child(6) /*Deconnexion*/
{
    background-color: lightgray;
    display: block;
    padding: 20px;
    margin: 0;
    width: 300px;

}
ul li:nth-child(6):hover /*Deconnexion*/
{
    background-color: #dd4747;
}
