.entête {
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    font-family: "Roboto";
    color: #fff;
    text-decoration: none;
    background-color: #333;
    border-radius: 30px;
    cursor: pointer;
}
.Talk{
    padding: 2px;
    font-family: "Roboto";
}
body{
    background-image: url("dptphoto1.png");
    background-size:cover;
}
.entête {
    top: 1px;
}

.regroupement {
    float: center;
}

.categorie-QT {
    position: absolute;
    left: 5%;
    width: 25%;
    height: auto;
    border: solid #000000 1;
    border-radius: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    display: inline-block;
    transition: 0.2s ease-in;
}
.categorie-QT:hover{
    border: solid #000000 3px;
    background-color: #DD4747;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    color: black;
}
.categorie-InfoCap {
    position: absolute;
    left: 38%;
    width: 25%;
    height: auto;
    border: solid #000000 1;
    border-radius: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    display: inline-block;
    transition: 0.2s ease-in;
}


.categorie-InfoCap:hover {
    border: solid #000000 3px;
    background-color: #DD4747;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    color: black;
}

.categorie-ProbCap {
    right: 5%;
    position: absolute;
    width: 25%;
    height: auto;
    border: solid #000000 1;
    border-radius: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    display: inline-block;
    transition: 0.2s ease-in;
}
h2.Titre {
    margin-top: 2px;
}

.categorie-ProbCap:hover {
    border: solid #000000 3px;
    background-color: #DD4747;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    color: black;
}

.categorie-QF {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 25%;
    height: auto;
    border: solid #000000 1;
    border-radius: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    display: inline-block;
    transition: 0.2s ease-in;
}

.categorie-QF:hover {
    border: solid #000000 3px;
    background-color: #DD4747;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    color: black;
}

.categorie-AddF {
    position: absolute;
    top: 50%;
    right: 20%;
    width: 25%;
    height: auto;
    border: solid #000000 1;
    border-radius: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    display: inline-block;
    transition: 0.2s ease-in;
}
.categorie-AddF:hover {
    border: solid #000000 3px;
    background-color: #DD4747;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    color: black;

}

.Contact {
    position: absolute;
    padding: 5px;
    background-color: #333;
    bottom: 0px;
    border: solid #DD4747;
    width: 98%;
    height: auto;
    float: center;
    bottom: 0px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    font-family: "Roboto";
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

.content {
    font-family: "Roboto";
    font-size: 12px;
}