/*BARRE DE NAVIGUATION GENERAL*/

ul{
    text-decoration: none;


}
body{
    font-family: "Roboto Light", sans-serif;
}

.image { /*Reglage de toutes les icons*/
    width: 25px;
    display: flow;
    float: left;
    margin-right: 20px;
    margin-top: -5px;

}

ul li:nth-child(1) /*Bonjour*/
{
    background-color: lightgray;
    padding: 20px;
    width: 300px;
    text-decoration: none;
    display: block;
    margin: 30px 0;

}
ul li:nth-child(1):hover /*Bonjour*/
{
    background-color: #dd4747;
}
ul li:nth-child(2) /*Aperçu du compte */
{
    background-color: lightgray;
    text-decoration: none;
    display: block;
    padding: 20px;
    width: 300px;
    margin: 0 0 10px;


}
ul li:nth-child(2):hover /*Aperçu du compte */
{
    background-color: #dd4747;
}



ul li:nth-child(3) /*Mes informations*/
{
    background-color: lightgray;
    list-style-type: none;
    padding: 20px;
    margin: 0;
    width: 300px;

}

ul li:nth-child(3):hover /*Mes informations*/
{
    background-color: #dd4747;
}


ul li:nth-child(4) /*Mes résultats*/
{
    background-color: lightgray;
    list-style-type: none;
    padding: 20px;
    width: 300px;
    margin: 0 0 10px;


}

ul li:nth-child(4):hover /*Mes résultats*/
{
    background-color: #dd4747;
}


ul li:nth-child(5) /*Test*/
{
    background-color: lightgray;
    display: block;
    margin: 0 0 30px;
    padding: 20px;
    width: 300px;


}
ul li:nth-child(5):hover /*Test*/
{
    background-color: #dd4747;
}
ul li:nth-child(6) /*Deconnexion*/
{
    background-color: lightgray;
    display: block;
    padding: 20px;
    margin: 0;
    width: 300px;

}
ul li:nth-child(6):hover /*Deconnexion*/
{
    background-color: #dd4747;
}




/* APERCU DU COMPTE*/

.titreicon{  /*Placement de l'icon Mes informations*/
    width: 35px;
    display: flow;
    float: left;
    margin-right: 20px;

}
div{  /*Réglage général du block */
    display: block;
    margin-right: 10px;
    position: absolute;
    top: 30px;
    left: 410px;
    height: 750px;
    background-color: lightgray;
    padding: 20px;
}

.form_information{  /*Reglage du form globale*/
    position: absolute;
    top: 145px;
    left: 450px;
    font-weight: bold;
}

.remplissage{   /*Reglage des zones à remplir*/
    border: 0;
    border-radius: 2px;
    padding: 5px;
    width: 240px;
}

.remplissage:hover {  /*Changement de couleur lorsque la souris passe dans une des zones à remplir*/
    background-color: #dd4747;
}

.genre{   /*Reglage pour la case genre car ne s'aligne pas bien avec les autres sinon*/
    border: 0;
    border-radius: 2px;
    padding: 5px;
    width: 250px;
    font-weight: inherit;
}

.newpass{ /*Reglage pour le changement de mot de passe*/
    border: 0;
    border-radius: 2px;
    padding: 5px;
    width: 240px;
    margin-left: 47px;
}
.newpass:hover{  /*Changement de couleur lorsque la souris passe dans une des zones à remplir*/
    background-color: #dd4747;
}

.form_information input[type=submit]{  /*Reglage pour le bouton sauvegarder*/
    border: 0;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px;
    width: 100px;
    margin-left: 70px;
}
