/*LES RESULTATS*/

.titreicon{  /*Placement de l'icon Les resultats*/
    width: 3.7vw;
    display: block;
    float: left;
    margin-left: -2.2vw;
}

h2{
    margin-top: -5vw;
    margin-left: 2vw;
    font-weight: bold;
}


.presentation_resultat{  /*Réglage général du block */
    display: block;
    position: absolute;
    top: 6vw;
    right: 2vw;
    left: 20vw;
    height: 75vw;
    background-color: #e4d8c7;
    padding: 4vw;
    color: #484848;
}


.form_information{  /*Reglage du form globale*/
    position: absolute;
    top: 13vw;
    left: 23vw;
    font-weight: bold;
    color: #484848;
}
/*
script {
    width: 2vw;
}

*/


.chart1 {
    text-align: center;
    position: relative;
    width: 25vw;
    margin-top: -25vw;
    margin-left: 25vw;
}

.chart2 {
    text-align: center;
    position: relative;
    width: 25vw;
    margin-top: -25vw;
    margin-left: 65vw;
}


.chart3 {
    text-align: center;
    position: relative;
    width: 25vw;

    margin-left: 25vw;
}

.chart4 {
    text-align: center;
    position: relative;
    width: 25vw;
    margin-top: -19vw;
    margin-left: 65vw;
}
.row {
    margin-bottom: 4vw;
}
.myChart {
    background-color: white;
    margin: 4vw 3vw;
}

.tableau{
    text-align: center;
    position: relative;
    width: 26vw;
    margin-top: 1vw;
    margin-left: 45vw;
}

