/* css pour les graphs */
.chart{
    text-align: center;
    margin: auto;
    position:relative;
}

.row {
    margin-bottom: 4vw;
}
.myChart {
    background-color: white;
    margin: 4vw 3vw;
}

h1 {
    text-align: center;
    margin-bottom: 8vw;
}


