/*LES RESULTATS*/

.titreicon{  /*Placement de l'icon Les resultats*/
    width: 3.9vw;
    display: block;
    float: left;
    margin-left: -2.2vw;

}

h2{
    margin-top: -5vw;
    margin-left: 2vw;
    font-weight: bold;
}


.presentation_resultat{  /*Réglage général du block */
    display: solid;
    position: absolute;
    top: 6vw;
    right: 2vw;
    left: 20vw;
    height: 64vw;
    background-color: #E4D8C7;
    padding: 4vw;
    color: #484848;
}


.form_information{  /*Reglage du form globale*/
    position: absolute;
    top: 13vw;
    left: 23vw;
    font-weight: bold;
    color: #484848;
}
/*
script {
    width: 2vw;
}
*/


.chart1 {
    text-align: center;
    position: relative;
    width: 25vw;
    margin-top: -20vw;
    margin-left: 25vw;
}

.chart2 {
    text-align: center;
    position: relative;
    width: 25vw;
    margin-top: -20vw;
    margin-left: 65vw;
}


.chart3 {
    text-align: center;
    position: relative;
    width: 25vw;

    margin-left: 25vw;
}

.chart4 {
    text-align: center;
    position: relative;
    width: 25vw;
    margin-top: -19vw;
    margin-left: 65vw;
}
.row {
    margin-bottom: 4vw;
}
.myChart {
    background-color: white;
    margin: 4vw 3vw;
}

/* Résultats et historique */

#graph {
    display: block;
}

#resulthistory {
    display: none;
    width: 50%;
}


#resulthistory td, #resulthistory th {
    border: 5px solid #ddd;
    background-color: #f2f2f2;
    padding: 8px;
  }  

#resulthistory tr:nth-child(even){background-color: #f2f2f2;}


#resulthistory td:hover {background-color: #ddd;}

#resulthistory th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #484848;
}