*{
     box-sizing:border-box;
 }

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.2vw; /*vw car lorsqu'on réduit la page la police réduira aussi*/
    font-weight: bold;
}

.topbar{
    background-color : #e4d8c7;
    height: 5vw;
    width: 100%; /*Pour que la barre prenne bien 100% de la largeur de la page*/
    line-height: 1.1vw;
    padding: 0 2%;
    position: fixed; /*Pour que la top bar reste bien en haut en scrolant*/
    top: -0.8vw;
    color: #484848; /*On choisit la couleur*/
}

.topbar .menuduhautpartiegauche a { /*'a' pour les liens de la class 'menu' dans topbar.php*/
    color: inherit;
    text-decoration: none;
    float : left;
    padding: 2.5% 1.5%; /*3% en haut et en bas et 1.5% à gauche et droite*/
}

.topbar .menuduhautpartiedroite a { /*'a' pour les liens de la class 'menu' dans topbar.php*/
    color: inherit;
    text-decoration: none;
    float: right;
    padding: 2.5% 1.5%;
}

.topbar .menuduhautpartiegauche a:hover{
    color: #dd3333;
    transition: 0.5s;
    font-weight: bold;
    opacity: 70%;
}

.topbar .menuduhautpartiedroite a:hover{
    color: #dd3333;
    transition: 0.5s;
    font-weight: bold;
    opacity: 70%;
}

.container{
    width: 25vw;
    height: 2.1vw;
    position: fixed;   /*en scrolant la barre rechercher reste bien en haut*/
    top: 1.2vw;
    left: 42%;
}

.search-box{
    width: 25vw; /*longueur de la barre de recherche*/
    height: 2.15vw;
    position: relative;
    display: flex;
    color: #484848;
}

.search{
    width: 25vw;
    border: 0.2vw solid #484848; /*pour la couleur du bord de la barre*/
    height: 2.15vw; /*hauteur de la barre de recherche*/
    outline: none;
    color: #484848;
    border-radius: 5px 0 0 5px;
}

.search:focus{ /*animation pour le cadre autour de rechercher*/
    color: #dd3333;
    box-shadow: 0 0 5px; /*Quand on clique ca fait une ombre autour du cadre de recherche*/
}

.search-btn{ /*les parametres du bouton loupe*/
    width: 4vw; /*longueur de la loupe*/
    height: 2.15vw; /*hauteur de la loupe*/
    border: 0.1vw solid #484848;
    background: #484848;
    text-align: center;
    color: #e4d8c7;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.6vw; /*taille de la loupe*/
}

input[type="text"]
{
    font-size:1vw;
}

.footer{
    background-color : #e4d8c7;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vw;
    padding: 0 2%;
    color: #484848; /*On choisit la couleur*/
}

.footer .menudubaspartiegauche a {
    color: inherit;
    text-decoration: none;
    float : left;
    padding: 5% 2%; /*6% en haut et en bas et 1.5% à gauche et droite*/
}

#twitter {
    height: 3.3vw;
    width: 3.5vw;
    position: fixed;
    margin-top: -2.5vw;
}

#instagram {
    height: 3.3vw;
    width: 3.5vw;
    position: fixed;
    margin-top: -2.5vw;
}

#facebook {
    height: 3.3vw;
    width: 3.5vw;
    position: fixed;
    margin-top: -2.5vw;
}

#linkedin {
    height: 3.3vw;
    width: 3.5vw;
    position: fixed;
    margin-top: -2.5vw;
}

.footer .adresse_premierepartie a {
    color: inherit;
    text-decoration: none;
    position: absolute;
    bottom: 77%;
    right: 8.5%;
    font-size: 1vw;
}

.footer .adresse_deuxiemepartie a {
    color: inherit;
    text-decoration: none;
    position: absolute;
    bottom: 57%;
    right: 6.7%;
    font-size: 1vw;
}

.footer .horaire a {
    color: inherit;
    text-decoration: none;
    position: absolute;
    bottom: 33%;
    right: 11%;
    font-size: 1vw;
}

.footer .telephone a {
    color: inherit;
    text-decoration: none;
    position: absolute;
    bottom: 10%;
    right: 12.6%;
    font-size: 1vw;
}




#maison {
    height: 2.8vw;
    width: 2.8vw;
    position: absolute;
    bottom: 57%;
    right: 20%;
}

#horloge {
    height: 1.3vw;
    width: 1.3vw;
    position: absolute;
    bottom: 33%;
    right: 20.7%;
}

#telephone{
    height: 1.33vw;
    width: 1.33vw;
    position: absolute;
    bottom: 8%;
    right: 20.6%;
}

.wrap-input100{
    color: #484848;
    border: 0;

}



.switch {  /* 'l'objet' encore carré qui englobe le bouton qui bouge de gauche à droite*/
    position: absolute;
    top: 17%;
    left: 94%;
    display: inline-block;
    width: 4.2vw;
    height: 2.38vw;
}

.switch input { /* Les paramètres par défaut, pour faire disparaitre le rectangle */
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e4d8c7;
    -webkit-transition: .5s;
    transition: .5s;
}

.slider:before {
    position: absolute;
    content: ""; /* Pour mettre du contenu, passage de fr à en */
    height: 1.8vw;
    width: 1.8vw;
    left: 7%; /* Position du rond qui coulisse */
    bottom: 12%; /* Position du rond qui coulisse */
    background: #fff;
    -webkit-transition: .5s;
    transition: .5s;
}

input:checked + .slider {
    background-color: #484848;
}

input:checked + .slider:before {
    -webkit-transform: translateX(96%); /* Pourcentage en fonction du rond qui englobe */
    -ms-transform: translateX(96%);
    transform: translateX(96%);
}

.slider.round {
    border-radius: 34px; /* Arrondi du rond qui englobe */
}

.slider.round:before {
    border-radius: 50%;
}

#fondpageaccueil {
    height: 45vw;
    width: 100vw;
}

.menudubaspartiecentre {
    position: fixed;
    margin-top: 0.4vw;
    width: 20%;
    left: 40%;
}


.Nous_contacter_titre {
    margin-top: 0.8vw;
    margin-bottom: 2vw;
}

.Nous_contacter_imput {
    border: none;
    border-radius: 0.2vw;
    margin: 0;
    width: 9vw;
    transition: 0.2s linear;
}
.Nous_contacter_imput::placeholder {
    padding: 0.2vw;
    font-size: 1vw;
}
.Nous_contacter_imput:hover {
    background-color: #DD3333;
}
.Nous_contacter_imput:hover::placeholder{
    color: black;
}

.Nous_contacter_bouton {
    position: fixed;
    width: 6vw;
    height: 1vw;
    border: none;
    background-color:white;
    border-radius: 0.2vw;
    transition: 0.2s linear;
    margin: 1vw 22vw 1vw;
}

.Bloc_Nous_contacter_bouton{
    margin-top: -4.5vw;
}

.Nous_contacter_bouton:hover {
    background-color: #DD3333;
}

.Nous_contacter_imput_textarea {
    border:none;
    border-radius: 0.2vw;
    width: 10vw;
    padding: 2vw;
    transition: 0.2s linear;
    margin-left: 10vw;
    margin-top: -4vw;
}
.Nous_contacter_imput_textarea::placeholder {
    padding: 1vw;
    margin-top: -2vw;
    font-size: 1vw;
}
.Nous_contacter_imput_textarea:hover {
    background-color: #DD3333;
}
.Nous_contacter_imput_textarea:hover::placeholder {
    color: black;
}

